.wrapper {
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

h4 {
    color: #ffffff;
}

p {
    color: #ffffff;
    font-size: 1vw;
}

.block-class {
    width: 400px;
    height: 510px;
    background-color: #ff1717;
    border: 3px solid black;
    border-radius: 15px;
}

.image-div-class {
    width: 100%;
    margin-top: 10px;
}

.image-class {
    width: 95%;
    height: 250px;
    margin-left: 2.5%;
    border-radius: 5%;
}

.block-text-class {
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.plusMinusBtn {
    width: 25px;
    height: 25px;
    border-radius: 6px;
    text-align: center;
}
.counter-minus-div-class {
    float: left;
    margin-left: 5px;
}
.counter-div-class {
    float:left;
    width: 20px;
    margin-left: 5px;
}

.send-to-cart-button {
    background-color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    color: #970f0f;
    border: 2px solid #970f0f;
    border-radius: 6px;
}

.send-to-cart-button:hover {
    color: #ffffff;
    background-color: #970f0f;
    border-color: #970f0f;
}

.counter-display {
    float:left;
    width: 40px;
    border-radius: 4px;
}

.counter-plus-div-class{
    float:left;
    margin-left: 25px;
}

.buy-button-div-class {
    float:left;
    margin-left: 5px;
}

.block-add-to-cart-class {
    color: black;
    width: 80% !important;
    align-items: center;
}

.btn-plus, .btn-minus {
    height: 30px;
    width: 30px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    color: #970f0f;
    border: 2px solid #970f0f;
}

.btn-plus:hover, .btn-minus:hover {
    background-color: #970f0f;
    color: white;
}

.price-text {
    float: left;
    margin-left: 2.5%;
    font-size: large;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.title-div {
    margin-left: 2.5%;
    margin-top: 1.5%;
    /*padding-left: 2.5%;
    padding-right: 2.5%;*/
}

.product-left-text {
    float: right;
    margin-right: 2.5%;
    font-size: large;
    font-weight: bold;
}

.price-form-left-div {
    /*width: 670px;*/
    width: 100%;
    margin: auto;
    display: inline;
}
