

.block-class{
    width: 400px;
    height: 510px;
    background-color: #61b2c9;
    border: 3px solid black;
    border-radius: 15px;
}

.image-div-class {
    width: 100%;
    margin-top: 10px;
}

.image-class{
    width: 95%;
    height: 250px;
    margin-left: 2.5%;
    border-radius: 5%;
}

.block-text-class {
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.plusMinusBtn {
    width: 25px;
    height 25px;
    border-radius: 6px;
    text-align: center;
}
.counter-minus-div-class {
    float: left;
    margin-left: 5px;
}
.counter-div-class {
    float:left;
    width: 20px;
    margin-left: 5px;
}

.send-to-cart-button {
    border-radius: 6px;
}

.counter-display {
    float:left;
    width: 40px;
    border-radius: 4px;
}

.counter-plus-div-class{
    float:left;
    margin-left: 25px;
}

.buy-button-div-class {
    float:left;
    margin-left: 5px;
}

.block-add-to-cart-class {
    /*margin-left: 20%;*/
    margin: auto;
    color: black;
}


.button {
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  color: black;
  /*border: 2px solid #4CAF50;*/
  border: 2px solid #48D941;
}

.button:hover {
  /*background-color: #4CAF50;*/
  background-color: #48D941;
  color: white;
}

.price-text {
    float: left;
    margin-left: 2.5%;
    font-size: large;
    font-weight: bold;
}

.title-div {
    margin-left: 2.5%;
    margin-top: 1.5%;
    /*padding-left: 2.5%;
    padding-right: 2.5%;*/
}

.product-left-text {
    float: right;
    margin-right: 2.5%;
    font-size: large;
    font-weight: bold;
}

.price-form-left-div {
    /*width: 670px;*/
    width: 100%;
    margin: auto;
    display: inline;
}
