.block-class{
    display: inline-flex;
    width: 100% !important;
    height: 150px !important;
}

.image-div-class {
    width: 210px !important;
    height: 100% !important;

}

.image-class {
    width: auto !important;
    height: 80% !important;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

p {
    font-size: 1vw !important;
}

.block-text-class {
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    width: 100% !important;
    height: 80% !important;
}   

.block-add-to-cart-class {
    display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 185px;
    color: black;
}

.send-to-cart-button:hover {
    background-color: #FF0000;
    border-radius: 6px;
}

.send-to-cart-button {
    border: 2px solid #FF0000;
}

.itemblock-div-class {
    /*float: left;*/
    margin-top: 10px;
}

.purchase-button {
    width: 140px;
    border-radius: 6px;
    text-align: center;
}

.purchase-button:hover {
    color: black;
}

.button-purchase-to-store-class {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    font-size: 20px;
}

.button-continue-to-shop-class{
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 20px;
}

.continue-button {
    width: 200px;
    height 55px;
    border-radius: 6px;
    text-align: center;
    border: 2px solid #FFC30B;
}
.continue-button:hover {
    background-color: #FFC30B;
    border-radius: 6px;
    color: black;
}

.price-text {
    width: 75px;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
    font-weight: bold;
}
.product-left-text {
    width: 85px;
    float: right;
    padding-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
    font-weight: bold;
}

.title-div {
    margin-left: 0.5%;
    margin-top: 0.5%;
    width: 100%;
    height: 40px;
    /*padding-left: 2.5%;
    padding-right: 2.5%;*/
}

.price-form-left-div {
    /*width: 670px;*/
    margin: auto;
    display: inline-flex;
}