

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commentSection.css') }}">

<div class="container" >
    <div class="row bootstrap snippets bootdeys">
        <div class="col-md-8 col-sm-12" >
            <div class="comment-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Comment panel
                    </div>
                    <div class="panel-body">
                        <form method="POST" name="PostComment" class="comments" action="">
                        <!--<textarea class="form-control" placeholder="write a comment..." rows="3"></textarea>
                        <br>
                        <button type="button" class="btn btn-info pull-right">Post</button>-->
                        {{ form.comment(class="form-control", placeholder="Write a comment...")}}
                        {{form.submit(class="btn btn-info pull-right")}}
                        </form>
                        <div class="clearfix"></div>
                        <hr>
                        <ul class="media-list">
                            <li class="media">
                                <a href="#" class="pull-left">
                                </a>
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <small class="text-muted">30 min ago</small>
                                    </span>
                                    <strong class="text-success">@MartinoMont</strong>
                                    <p class="textColor">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Lorem ipsum dolor sit amet, <a href="#">#consecteturadipiscing </a>.
                                    </p>
                                </div>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    </div>



