{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='itemBlock.css') }}">

<div>
    <div class="wrapper">
    {% for i in range(id | length) %}

        <div class="itemblock-div-class">
            {% with form = form[i], id = id[i], description = description[i], imageLink = imageLink[i] %}
                {% include 'itemBlock.html' %}
            {% endwith %}
        </div>

    {% endfor %}

    </div>

</div>



<script>
    let id = {{ id|safe }}
    let counterDisplayElem = [];
    let counterMinusElem = [];
    let counterPlusElem = [];
    let count = [];
    for(let i = 0; i < id.length; i++) {

        counterDisplayElem[i] = document.querySelector(`#counter-display-${id[i]}`);
        counterMinusElem[i] = document.querySelector(`.counter-minus-${id[i]}`);
        counterPlusElem[i] = document.querySelector(`.counter-plus-${id[i]}`);
        count[i] = 0;

        console.log(document.getElementById(`counter-display-${id[i]}`));
        console.log(counterMinusElem[i]);
        console.log(counterPlusElem[i]);
        updateDisplay(i);
    }



    for(let i = 0; i < id.length; i++) {
        counterPlusElem[i].addEventListener("click",()=>{
            if(counterDisplayElem[i].value != count[i]){
                count[i] = counterDisplayElem[i].value
            }
            count[i]++;
            updateDisplay(i);
        });

        counterMinusElem[i].addEventListener("click",()=>{
            if(counterDisplayElem[i].value != count[i]){
                count[i] = counterDisplayElem[i].value
            }
            if(count[i] > 0){
                count[i]--;
                updateDisplay(i);
            }
        });
    }


    function updateDisplay(i){
        counterDisplayElem[i].value = count[i];
    };

</script>

{% endblock %}