{% extends "layout.html" %}
{% block content %}
<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->
<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='varukorg.css') }}">-->
<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='itemBlock.css') }}">-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='item.css') }}">

<div class="itemblock-div-class-{{id[i]}} itemblock-div-class">
    {% with form = form[0], id = id[0], description = description[0], imageLink = imageLink[0], price=price[0] %}
        {% include 'itemBlock.html' %}
    {% endwith %}
</div>




<script>
    let id = {{ id|safe }}
    let counterDisplayElem = [];
    let counterMinusElem = [];
    let counterPlusElem = [];
    let count = [];
    for(let i = 0; i < id.length; i++) {

        counterDisplayElem[i] = document.querySelector(`#counter-display-${id[i]}`);
        counterMinusElem[i] = document.querySelector(`.counter-minus-${id[i]}`);
        counterPlusElem[i] = document.querySelector(`.counter-plus-${id[i]}`);
        count[i] = 0;

        console.log(document.getElementById(`counter-display-${id[i]}`));
        console.log(counterMinusElem[i]);
        console.log(counterPlusElem[i]);
        updateDisplay(i);
    }



    for(let i = 0; i < id.length; i++) {
        counterPlusElem[i].addEventListener("click",()=>{
            if(counterDisplayElem[i].value != count[i]){
                count[i] = counterDisplayElem[i].value
            }
            count[i]++;
            updateDisplay(i);
        });

        counterMinusElem[i].addEventListener("click",()=>{
            if(counterDisplayElem[i].value != count[i]){
                count[i] = counterDisplayElem[i].value
            }
            if(count[i] > 0){
                count[i]--;
                updateDisplay(i);
            }
        });
    }


    function updateDisplay(i){
        counterDisplayElem[i].value = count[i];
    };

</script>





{% endblock %}