<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='itemBlock.css') }}">

<div class="block-class">
    <div class="image-div-class">
        <img src="/static/image/car.jpg" alt="img" class="image-class">
    </div>
    <div class="block-text-class">
        <p>Text about the product, this is a very good product, yeah boiiiiiii  very good price. Very much to do here before good program ahh yes si mucho gracias</p>
    </div>



    <div class="block-add-to-cart-class">
        <form method="POST" name="{{id}}" action="">
           <input type="hidden" value="{{id}}" name="{{id}}">
            <div class="counter-minus-div-class">
                <button class="counter-minus-{{id}} plusMinusBtn button" type="button">-</button>
            </div>
            {{ form.hidden_tag() }}
            <div class="counter-div-class">
                {{ form.howManyToCart(class="counter-display") }}
            </div>

            <div class="counter-plus-div-class">
                <button class="counter-plus-{{id}} plusMinusBtn button" type="button">+</button>
            </div>
        <!--<form method="POST" action="">-->
            <div class="buy-button-div-class">
                <!--{{ form.addToCart(class="btn btn-outline-info send-to-cart-button") }}-->
                {{ form.addToCart(class="button send-to-cart-button") }}
            </div>

        </form>
    </div>

    </div>
<!--
    <script>
    let counterDisplayElem = document.querySelector('.counter-display');
    let counterMinusElem = document.querySelector('.counter-minus');
    let counterPlusElem = document.querySelector('.counter-plus');

    let count = 0;

    updateDisplay();

    counterPlusElem.addEventListener("click",()=>{
        if(counterDisplayElem.value != count){
            count = counterDisplayElem.value
        }
        count++;
        updateDisplay();
    });

    counterMinusElem.addEventListener("click",()=>{
        if(counterDisplayElem.value != count){
            count = counterDisplayElem.value
        }
        if(count > 0){
            count--;
            updateDisplay();
        }
    });

    function updateDisplay(){
        counterDisplayElem.value = count;
    };

    function sendToCart() {
            counterDisplayElem.value = 10
    };
</script>-->


</div>


