<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='itemBlock.css') }}">-->


<div class="block-class">
    <a href="/item-{{id}}" class="link-div">
    <div class="image-div-class">
        <!--<img src="/static/image/car.jpg" alt="img" class="image-class">-->
        <!-- <img src="{{ url_for('static', filename='image/imageName') }}" alt="img" class="image-class">-->
        <img src="{{imageLink}}" alt="img" class="image-class">
    </div>
    </a>
    <div class="block-text-class">
        <p>{{ description }}</p>
    </div>

    <p class="price-text">{{price}} kr</p>
    <div class="block-add-to-cart-class">
        <form method="POST" name="{{id}}" class="form-class-{{id}}" action="">
            <input type="hidden" value="{{id}}" name="{{id}}"> <!-- DON'T FUCKING REMOVE THIS BITCH!!!!! -->
            <div class="counter-minus-div-class">
                <button class="counter-minus-{{id}} plusMinusBtn button" type="button">-</button>
            </div>
            {{ form.hidden_tag() }}
            <div class="counter-div-class">
                {{ form.howManyToCart(class="counter-display") }}
            </div>

            <div class="counter-plus-div-class">
                <button class="counter-plus-{{id}} plusMinusBtn button" type="button">+</button>
            </div>
            <div class="buy-button-div-class">
                <!--{{ form.addToCart(class="btn btn-outline-info send-to-cart-button") }}-->
                {{ form.addToCart(class="button send-to-cart-button") }}
            </div>

        </form>
    </div>

</div>
