{% extends "layout.html" %}
{% block content %}
<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->
<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='varukorg.css') }}">-->
<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='itemBlock.css') }}">-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='item.css') }}">

<div class="itemblock-div-class-{{id}} itemblock-div-class">
    {% with form = form, id = id, name = name, description = description, imageLink = imageLink, price=price, prodLeft=prodLeft  %}
        {% include 'itemBlock.html' %}
    {% endwith %}
</div>


<script>
    let id = {{ id }};
    let counterDisplayElem = document.querySelector(`#counter-display-${id}`);
    counterMinusElem = document.querySelector(`.counter-minus-${id}`);
    counterPlusElem = document.querySelector(`.counter-plus-${id}`);
    count = 0;

    console.log(document.getElementById(`counter-display-${id}`));
    console.log(counterMinusElem);
    console.log(counterPlusElem);
    updateDisplay();


    counterPlusElem.addEventListener("click",()=>{
        if(counterDisplayElem.value != count){
            count = counterDisplayElem.value
        }
        count++;
        updateDisplay();
    });

    counterMinusElem.addEventListener("click",()=>{
        if(counterDisplayElem.value != count){
            count = counterDisplayElem.value
        }
        if(count > 0){
            count--;
            updateDisplay();
        }
    });


    function updateDisplay(){
        counterDisplayElem.value = count;
    };

</script>





{% endblock %}