{% extends "layout.html" %}

{% block content %}


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='itemBlock.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='item.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commentSection.css') }}">

<div class="wrapper">
    <div class="itemblock-div-class-{{id}} itemblock-div-class">
        {% with form = form, id = id, name = name, description = description, imageLink = imageLink, price=price, prodLeft=prodLeft  %}
            {% include 'itemBlock.html' %}
        {% endwith %}
    </div>
</div>


<script>
    let id = {{ id }};
    let counterDisplayElem = document.querySelector(`#counter-display-${id}`);
    counterMinusElem = document.querySelector(`.counter-minus-${id}`);
    counterPlusElem = document.querySelector(`.counter-plus-${id}`);
    count = 0;

    console.log(document.getElementById(`counter-display-${id}`));
    console.log(counterMinusElem);
    console.log(counterPlusElem);
    updateDisplay();


    counterPlusElem.addEventListener("click",()=>{
        if(counterDisplayElem.value != count){
            count = counterDisplayElem.value
        }
        count++;
        updateDisplay();
    });

    counterMinusElem.addEventListener("click",()=>{
        if(counterDisplayElem.value != count){
            count = counterDisplayElem.value
        }
        if(count > 0){
            count--;
            updateDisplay();
        }
    });


    function updateDisplay(){
        counterDisplayElem.value = count;
    };

</script>


{% with form=formcomment %}
{% include "commentSection.html" %}
{% endwith %}


{% endblock %}